 *{
     margin: 0;
     padding: 0;
 }
nav{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    align-items: center;
    height: 50px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
}
nav input{
    width:170px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: limegreen;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.midcont{
    display: flex;
}
.img{
    background-image:url(./images/bg-intro-desktop.svg);
    background-position: top -250px left -130px;
    background-repeat: no-repeat;
    background-size: 1300px;
    width: 60%;
}
.img img{
    width: 100%;
}
.writeup{
    width: 40%;
    margin-top: 15%;
    padding-left: 4rem;
    padding-right: 4rem;
}
.writeup h1{
    font-size: 4rem;
    padding-bottom: 1.2rem;
}
.writeup p{
    font-size: 1.3rem;
    padding-bottom: 2rem;
}
.writeup input{
    width:170px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: limegreen;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.midcont1{
    background-color: red;
    padding-bottom: 7%;
}
.midcont2{
    padding-left: 4rem;
    margin-top: -173px;
    width: 50%;
    background-color: red;
}
.midcont2 h2{
    font-size: 3rem;
    padding-top: 15%;
    padding-bottom: 1.2rem;
}
.midcont2 p{
    font-size: 1.3rem;
    padding-bottom: 10%;
}
.subcont{
    display: flex;
    width: 90%;
    padding-left: 4rem;
}
.subcont1{
   /* width: 20%; */
   margin-right: 1rem;
}
.subcont1 h5{
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.subcont1 img{
    padding-bottom: 1rem;
}
.subcont1 p{
    font-size: 1.1rem;
}
.lastcont{
    margin-top: 10%;
    padding-bottom: 5rem;
}
.lastcont h2{
    padding-left: 4rem;
    padding-bottom: 2rem;
    font-size: 3rem;
}


.sublastcont{
    display: flex;
    width: 90%;
    padding-left: 4rem;
}
.sublast1{
    /* width: 20%; */
    margin-right: 1rem;
 }
 .sublast1 img{
    width: 100%;
    height: 200px;
 }
 .subwrap{
     width: 65%;
     padding-left: 1rem;
 }
 .sublast1 .subwrap h6{
    padding-bottom: 0.5rem;
 }
 .sublast1 .subwrap h5{
    padding-bottom: 0.5rem;
 }
 .footer{
    display: flex;
    justify-content: space-around;
    background-color: chartreuse;
 }
 .subfoot2,.subfoot1,.subfoot4 {
    display: flex;
    flex-direction: column;
 }
 .subfoot2 a{
     text-decoration: none;
     color: black;
     padding-bottom: 1rem;
 }
 .subfoot4 input{
    width:170px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: limegreen;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 1rem;
 }