 *{
     margin: 0;
     padding: 0;
     font-family: 'Public Sans', sans-serif;
 }
nav{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    background-color: white;
    align-items: center;
    height: 50px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
}
nav input{
    width:170px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to left,#0ae8b5, #0ceb5e);
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px;
}

.midcont{
    display: flex;
}
.img{
    background-image:url(./images/bg-intro-desktop.svg);
    background-position: top -190px left -80px;
    background-repeat: no-repeat;
    background-size: 155.3%;
    width: 55%;
    overflow: hidden;
}
.img img{
    width: 100%;
    margin-top: -100px;
    overflow: hidden;
}
.writeup{
    width: 45%;
    margin-top: 7%;
    padding-left: 4rem;
    padding-right: 4rem;
}
.writeup h1{
    font-size: 3.2rem;
    padding-bottom: 2%;
}
.writeup p{
    font-size: 1.3rem;
    padding-bottom: 5%;
}
.writeup input{
    width:170px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to left,#0ae8b5, #0ceb5e);
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 2rem;
}
.midcont1{
    background-color: hsl(0, 0%, 93%);
    padding-bottom: 7%;
}
.midcont2{
    padding-left: 4rem;
    margin-top: -10%;
    width: 50%;
    /* background-color: red; */
}
.midcont2 h2{
    font-size: 3rem;
    padding-top: 15%;
    padding-bottom: 1.2rem;
}
.midcont2 p{
    font-size: 1.3rem;
    padding-bottom: 10%;
}
.subcont{
    display: flex;
    width: 90%;
    padding-left: 4rem;
}
.subcont1{
   /* width: 20%; */
   margin-right: 1rem;
}
.subcont1 h5{
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.subcont1 img{
    padding-bottom: 1rem;
}
.subcont1 p{
    font-size: 1.1rem;
}
.lastcont{
    margin-top: 10%;
    padding-bottom: 5rem;
}
.lastcont h2{
    padding-left: 4rem;
    padding-bottom: 2rem;
    font-size: 3rem;
}


.sublastcont{
    display: flex;
    width: 90%;
    padding-left: 4rem;
}
.sublast1{
    /* width: 20%; */
    margin-right: 1rem;
 }
 .sublast1 img{
    width: 100%;
    height: 200px;
    padding-bottom: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
 }
 .subwrap{
     width: 65%;
     padding-left: 1rem;
 }
 .sublast1 .subwrap h6{
    padding-bottom: 0.5rem;
    color: grey;
 }
 .sublast1 .subwrap h5{
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
 }
 .sublast1 .subwrap p{
    color: grey;
 }
 .footer{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-around;
    background-color: hsl(233, 26%, 24%);
 }
 .subfoot2,.subfoot1,.subfoot4 {
    display: flex;
    flex-direction: column;
 }
 .subfoot1 .socialmedia{
     margin-top: 30%;
     padding-right: 0.5rem;

 }
 .subfoot1 .socialmedia img{
    padding-right: 0.5rem;

}
 .subfoot2 a{
     text-decoration: none;
     color: white;
     padding-bottom: 1rem;
 }
 .subfoot4 input{
    width:170px;
    height: 45px;
    border-radius: 20px;
    border: none;
  
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 1.5rem;
 }
 input {
    background-image: linear-gradient(to left,#0ae8b5, #0ceb5e);
    /* transition: 10s; */
    transition:all 10s ease-in 10s;
  }
 input:hover {
    background-image: linear-gradient(to left,#05c79a, #0ace52);
    transition:all 10s ease-in 10s;
  }




 /* responsiveness */
 @media only screen and (max-width: 960px) {
    nav ul{
        display: flex;
        justify-content: space-around;
        width: 45%;
    }
    .writeup{
    width: 45%;
    margin-top: 3%;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
}
.writeup h1{
    font-size: 2.5rem;
}
.writeup p{
    font-size: 1.1rem;
}
.midcont2{
    padding-left: 1rem;
    width: 60%;
    /* background-color: red; */
}
.midcont2 h2{
    font-size: 2.5rem;
}
.midcont2 p{
    font-size: 1.1rem;
}
.subcont{
    width: 97%;
    padding-left: 1rem;
}
.subcont1 h5{
    font-size: 1.2rem;
}
.subcont1 p{
    font-size: 1rem;
}
.sublastcont{
    display: flex;
    width: 97%;
    padding-left: 1rem;
}
.sublast1{
    margin-right: 0.7rem;
 }
 .subwrap{
     width: 85%;
     padding-left: 1rem;
 }
 .sublast1 .subwrap h5{
    font-size: 1rem;
 }
 }



  @media screen and (max-width:480px) {
    /* body {
        overflow: hidden;
    } */
    nav ul {
        position: absolute;
        right: 10%;
        height: 40vh;
        top: 11.5%;
        width: 80%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        transform: translateY(-150%);
        transition: transform 1s ease-in;
        overflow: hidden;
    }
    nav ul li a {
        color: rgb(26, 25, 25);
    }
    nav input {
        display: none;
    }
    .burger {
        display: block;
    }
    .midcont{
        display: flex;
        flex-direction: column-reverse
    }
    .img{
        background-image:url(./images/bg-intro-mobile.svg);
        background-position: top -190px left -80px;
        background-repeat: no-repeat;
        background-size: 155.3%;
        width: 100%;
        overflow: hidden;
    }
    .img img{
        width: 100%;
        margin-top: -100px;
        overflow: hidden;
    }
    .writeup{
        width: 90%;
        margin-top: 1%;
        text-align: center;
        padding-bottom: 5rem;
    }
    .writeup h1{
        line-height: 3.5rem;
        font-size: 2.5rem;
    }
    .writeup p{
        line-height: 1.5rem;
    }
    .midcont1{
        width: 100%;
        padding-bottom: 7%;
    }
    .midcont2{
        padding-left: 0;
        /* padding-right: 0.5rem; */
        margin-top: 0%;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .subcont{
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding-left: 0;
    }
    .subcont1{
        margin-right: 0;
        padding-top: 2rem;
    }
    .lastcont{
        margin-top: 10%;
        padding-bottom: 5rem;
    }
    .lastcont h2{
        padding-left: 0;
        padding-bottom: 2rem;
        font-size: 2.7rem;
        text-align: center;
    }
    
    
    .sublastcont{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding-left: 0;
    }
    .sublast1{
        width: 100%;
        margin-right: 0;
        padding-top: 2rem;
     }
     .subwrap{
         width: 80%;
         margin: 0 auto;
         padding-left: 1rem;
     }
     .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        /* justify-content: center;
        justify-items: center;  */
     }
     .subfoot4 input{
        width:170px;
        margin: 0 auto;
        margin-bottom: 1rem;
     }
     /* .subfoot1 .socialmedia img{
        padding-right: 0.5rem;
   
    } */
} 














 .nav-active {
    transform: translateY(0%);
}

.toggle .box1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .box2 {
    opacity: 0;
}

.toggle .box3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.fade{
    background-color: rgb(105, 105, 105,0.5);
}